</div>

	<div class="clear"></div>

	<footer>
		<nav id="footer-nav"><ul>
			<li><a href="/privacy_policy">Privacy Policy</a></li>
			<li><a href="/terms_of_use">Terms of Use</a></li>
			<li><a href="/site_map">Site Map</a></li>
			<li><a href="/about_us">About Us</a></li>
		</ul></nav>
		<span id="footer-copyright">&copy; House Party Finder, 2014</span>
	</footer>
</div></body>
</html>