/**LogInCSS**/

.sign_in {
	background-color:#054387;
	color:white;
	/*margin:0 0 2% 0;*/
	padding:.2em .2em;
	font-family:"Myriad Pro";
	font-size:1.5em;
	margin-bottom: 0.3em;
	font-weight:normal;
	text-align:left;
}

.centered {
	text-align: center;
}

.LogInBox, .LogInBoxOR {
	display: inline-block;
	vertical-align: middle;
	padding: 1em;
	margin: 2%;
}

.LogInBox {
	position:relative;
	border-style:solid;
	border-color:white;
	border-radius: 10px;
	background-color:white;
	width: 25%;
	padding:5%;
}

@media (max-width: 960px) {
	.LogInBox {
		width: 60%;
	}
	.LogInBoxOR {
		display: block;
		clear: both;
	}
}

.LogInBox h3 {
	text-decoration: underline;
	font-weight: bold;
	font-size: 1.4em;
	margin-bottom: 1em;
}

.LogInBox input[type='text'], .LogInBox input[type='password'] {
	display: block;
	width: 100%;
	margin-bottom: 0.3em;
}

.LogInBox .button {
	margin-top: 0.6em;
}

.LogInBoxOR {
	font-weight: bold;
	font-size: 1.8em;
}

.align-right {
	text-align: right;
}

#map-canvas {
	position: absolute;
	z-index:5;
	display: block;
	vertical-align: middle;
	height: 35%;
	width: 70%;
}

#map-spacing {
	display:block;

	padding: 50%;
}

