<style>
	.activity-entry {
		display: block;
		margin: 0.4em;
		padding: 0.4em;
		border-radius: 0.4em;
		background-color: white;
	}

	.activity-entry > img {
		float: left;
		display: block;
	}

	.activity-entry .entry-description {
		display: block;
		margin-left: 112px;
		width: auto;
	}

	.activity-entry .title-block {
		float: left;
	}

	.activity-entry .rating-block {
		float: right;
	}

	/* ignore below, erase */
	.clear {
		display: block;
		clear: right;
	}
</style>

<div class="activity-entry">
	<img src="/images/homepage-images/1_copy(1).JPG">
	<div class="entry-description">
		<div class="title-block">
			Attended: <a href="#">Go Fish! House Club</a> (2014-03-15)
		</div>
		<div class="rating-block">
			<img src="/images/Anonymous_one_star_rating.png" width="120">
			<span>(5)</span>
		</div>
		<div class="clear"></div>
		<p>
			Location: 879 Foxglove Trail, Toronto, ON<br>
			Attendance: 2<br>
			Description: Let's Play!
		</p>
		<p><a href="#">View details</a></p>		
	</div>				
</div>

<div class="activity-entry">
	<img src="/images/homepage-images/1_copy(1).JPG">
	<div class="entry-description">
		<div class="title-block">
			Hosted: <a href="#">Go Fish! House Club</a> (2014-03-15)
		</div>
		<div class="rating-block">
			<img src="/images/Anonymous_one_star_rating.png" width="120">
			<span>(5)</span>
		</div>
		<div class="clear"></div>
		<p>
			Location: 879 Foxglove Trail, Toronto, ON<br>
			Attendance: 2<br>
			Description: Let's Play!
		</p>
		<p><a href="#">View details</a></p>		
	</div>				
</div>