<%- include ./frag_header %>

<style>
	.activity-entry {
		display: block;
		margin: 0.4em;
		padding: 0.4em;
		border-radius: 0.4em;
		background-color: white;
		overflow-y: auto;
	}

	.activity-entry > img {
		float: left;
		display: block;
	}

	.activity-entry .entry-description {
		display: block;
		margin-left: 112px;
		width: auto;
	}

	.activity-entry .title-block {
		float: left;
	}

	.activity-entry .rating-block {
		float: right;
		margin: 0.2em 0;
	}

	.activity-entry p {
		margin-top: 0.6em;
	}

	.clear {
		clear: right;
	}
</style>

<% if (hosted_parties.length == 0) { %>
	<p>This user has yet to hold a party.<p>
<% } else { %>
	<ul>
		<% 
			var party;
			for (var i = 0; i < hosted_parties.length; i++) {
				party = hosted_parties[i];
		%>
			<li class="activity-entry">
				<img src="/images/homepage-images/1_copy(1).JPG">
				<div class="entry-description">
					<div class="title-block">
						<a href="/parties/<%= party.id %>"><%= party.name %></a> (<%= party.start_date %>)
					</div>
					<div class="rating-block">
						<span class="rating read-only" data-score="<%= hosted_parties[i].rating %>"><%= party.rating %></span>
						<span>(<%= party.rating_count %>)</span>
					</div>
					<div class="clear"></div>
					<p>
						Location: <%= party.address %>, <%= party.city %>, <%= party.province %><br>
						Description: <%= party.description %>
					</p>
					<p><a href="/parties/<%= party.id %>">View details</a></p>		
				</div>				
			</li>
		<% } %>
	</ul>
<% } %>

<%- include ./frag_footer %>