<style>
	.subscriber-entry {
		display: inline-block;
		margin: 0.4em;
		padding: 0.4em;
		border-radius: 0.4em;
		background-color: white;
		width: 27.5%;
	}

	.subscriber-entry > img {
		float: left;
		display: block;
	}

	.subscriber-entry .entry-description {
		display: block;
		margin-left: 112px;
		width: auto;
	}

	/* ignore below, erase */
	.clear {
		display: block;
		clear: right;
	}
</style>

<% if (subscribers.length == 0) { %>
	<p>This user has no subscribers.</p>

<% } else { %>
	<%
		var user;
		for (var i = 0; i < subscribers.length; i++) {
			user = subscribers[i];
	%>
		<div class="subscriber-entry">
			<img src="/images/homepage-images/1_copy(1).JPG">
			<div class="entry-description">
				<div class="title-block">
					<a href="#"><%= user.username %></a>
				</div>
				<div class="rating-block">
					<img src="/images/Anonymous_one_star_rating.png" width="120">
					<span>(N)</span>
				</div>
				<div class="clear"></div>
				<p>
					Joined: <%= user.join_date %>
				</p>
				<p><a href="/users/<%= user.id %>">View details</a></p>		
			</div>				
		</div>
	<% } %>
<% } %>
