<style>
	.subscriber-entry {
		display: inline-block;
		margin: 0.4em;
		padding: 0.4em;
		border-radius: 0.4em;
		background-color: white;
		width: 27.5%;
	}

	.subscriber-entry > img {
		float: left;
		display: block;
	}

	.subscriber-entry .entry-description {
		display: block;
		margin-left: 112px;
		width: auto;
	}

	/* ignore below, erase */
	.clear {
		display: block;
		clear: right;
	}
</style>

<div class="subscriber-entry">
	<img src="/images/homepage-images/1_copy(1).JPG">
	<div class="entry-description">
		<div class="title-block">
			<a href="#">LuluCupcakes</a>
		</div>
		<div class="rating-block">
			<img src="/images/Anonymous_one_star_rating.png" width="120">
			<span>(5)</span>
		</div>
		<div class="clear"></div>
		<p>
			Joined: 2014-01-05<br>
			Parties hosted: 5<br>
			Parties joined: 5
		</p>
		<p><a href="#">View details</a></p>		
	</div>				
</div>

<div class="subscriber-entry">
	<img src="/images/homepage-images/1_copy(1).JPG">
	<div class="entry-description">
		<div class="title-block">
			<a href="#">LuluCupcakes</a>
		</div>
		<div class="rating-block">
			<img src="/images/Anonymous_one_star_rating.png" width="120">
			<span>(5)</span>
		</div>
		<div class="clear"></div>
		<p>
			Joined: 2014-01-05<br>
			Parties hosted: 5<br>
			Parties joined: 5
		</p>
		<p><a href="#">View details</a></p>		
	</div>				
</div>

<div class="subscriber-entry">
	<img src="/images/homepage-images/1_copy(1).JPG">
	<div class="entry-description">
		<div class="title-block">
			<a href="#">LuluCupcakes</a>
		</div>
		<div class="rating-block">
			<img src="/images/Anonymous_one_star_rating.png" width="120">
			<span>(5)</span>
		</div>
		<div class="clear"></div>
		<p>
			Joined: 2014-01-05<br>
			Parties hosted: 5<br>
			Parties joined: 5
		</p>
		<p><a href="#">View details</a></p>		
	</div>				
</div>

<div class="subscriber-entry">
	<img src="/images/homepage-images/1_copy(1).JPG">
	<div class="entry-description">
		<div class="title-block">
			<a href="#">LuluCupcakes</a>
		</div>
		<div class="rating-block">
			<img src="/images/Anonymous_one_star_rating.png" width="120">
			<span>(5)</span>
		</div>
		<div class="clear"></div>
		<p>
			Joined: 2014-01-05<br>
			Parties hosted: 5<br>
			Parties joined: 5
		</p>
		<p><a href="#">View details</a></p>		
	</div>				
</div>