<% content_for :head do %>
	<script src="http://localhost:9292/faye/client.js"></script>
<% end %>

<img alt="Smiley face" id="image" height="240" width="320">

<button id="play" class="button">Play stream</button>

<script type="text/javascript">
	var client, subscription;

	$('#play').on('click', function() {
		if ($(this).attr('playing')) {
			subscription.cancel();
			$(this).removeAttr('playing').html('Play stream');
		}
		else {
			client = new Faye.Client('http://localhost:9292/faye');
			subscription = client.subscribe("/parties/<%= @party.id %>", function(message) {
				image.src = message.c;
			});
			$(this).attr('playing', 'playing').html('Stop stream');
		}
	});
</script>	