# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b21000e94e8d2741506ca510608c436a0c584d5bd8eb8432821253b706e5dc15d93af341e9dd13f2d94147adf4be940aab11a4b4fcb3c6f4b127473d09b81c7a

test:
  secret_key_base: 09319893597df7a9df96912af2b3c616f1e89c4c0c7d7f9015dca3b6285a059a8a5649d48751772b425dbf8980aee5b6c95925a2bed702701a009b2872342533

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: 3576572a821ef17f1af14856b2801a6e66c1f271930069d9c6bc7cc34e842f17c3c78f43bc436216b89cedf66ef627bf63650487b5414907ce3767c54bba3fcb
