<% content_for :head do %>
	<link rel="stylesheet" href="/styles/homepage.css">
<% end %>

<% content_for :title, "Server Error!" %>
<div>
<h2>The server has experienced an error processing your request.</h2>
<p>We recomended going to the <a href="/">home page</a> to find what you are looking for.</p>
</div>