<%- include ../template/header %>
	<link rel="stylesheet" href="/styles/homepage.css" >
<%- include ../template/nav %>
	<!--homepage content -->
	<div class="featured-heading">
		<h2>Featured Parties</h2>
	</div>
	<ul class="featured-list"> <!--unordered list for top 4 divs  -->	
		<li><div class="featured-div">
			<img src="/images/homepage-images/1.JPG" >
			<h4>Crazy Twenties</h4>
			<p>Toronto Downtown</p>
			<p>Attending: 20</p>
		</div></li>
	
		<li><div class="featured-div">
			<img src="/images/homepage-images/2.JPG" >
			<h4>Fun Night</h4>
			<p>North York</p>
			<p>Attending: 15</p>
		</div></li>
		
		<li><div class="featured-div">
			<img src="/images/homepage-images/3.JPG" >
			<h4>College Reunion</h4>
			<p>Richmond Hill</p>
			<p>Attending: 23</p>
		</div></li>
		
		<li><div class="featured-div">
			<img src="/images/homepage-images/4.JPG" >
			<h4>Game Night</h4>
			<p>Brampton</p>
			<p>Attending: 8</p>
		</div></li>
	</ul> 			
<%- include ../template/footer %>
