<%- include ../template/header %>
	<link rel="stylesheet" href="/styles/hostparty.css">
<%- include ../template/nav %>
<label class="feat-head"><h2>My Parties</h2></label><br>
<% if(parties.length == 0) { %>
	<h1>Sorry no parties found!</h1>
<% } else { %>
	<% for(var i = 0; i < parties.length; i++) { %>
		<li>Date: <%= parties[i][0] %> <%= parties[i][1] %> <a href="/parties/<%= parties[i][2] %>">View Party</a>/<a href="/parties/stream-party/<%= parties[i][2] %>">Stream Party</a>
	<% } %>
<% } %>
<%- include ../template/footer %>
