<%- include ../template/header %>
	<link rel="stylesheet" type="text/css" href="/styles/party-info.css" >
 	<script src="https://maps.googleapis.com/maps/api/js"></script>
    <!-- Raty -->
	<link href="/raty/jquery.raty.css" rel="stylesheet">
	<script src="/raty/jquery.raty.js"></script>
	<script>
		function raty_update() {
			$('.rating').html("").raty({
				score: function() {
					return $(this).attr('data-score');
				},
				readOnly: function() {
					return $(this).hasClass('read-only');
				}
			});
		}
		$(function() {
			raty_update();
		});
	</script>
	<script>
      function initialize() {
		var marker;
        var map_canvas = document.getElementById('map_canvas');
		var pos = new google.maps.LatLng(<%-latitude%>, <%-longitude%>);
        var map_options = {
          center: pos,
          zoom: 10,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(map_canvas, map_options)
		marker = new google.maps.Marker({
			position: pos,
			map:map,
			title: "Party Address"
		});
		//marker.setPosition(results[0].geometry.location);
	  }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    
	<!-- jQuery -->
	<script>
		$(document).ready(function(){
			$("#party-completed").on("click", function(e){
				$.ajax({
					url:'/parties/completed',
					type: "POST",
					data: {page: window.location.pathname.replace("/parties/", "")}
				});
				e.preventDefault();
				$(".completed").css("background-color", "red");
				$('.completed').html("This party has been completed!");
				$("#party-completed").attr('disabled', true);
				$('#party-completed').html("Finished!");
				$('#party-completed').removeClass('button').addClass('button-completed');
			});
		});
	</script>
	<!-- Fotorama -->
	<link href="../fotorama-4.5.1/fotorama.css" rel="stylesheet">
	<script src="../fotorama-4.5.1/fotorama.js"></script>
<%- include ../template/nav %>
	<section class="party-info" >
		<div class="name-host-pic-status">
			<div class="name-host-pic">
				<% if(images.length > 0) { %>
					<img src="/uploads/1/<%= images[0] %>">
				<% } else { %>
					<img src="/images/homepage-images/1_copy(1).JPG" />
				<% } %>
				<h1 name="pname"><%= pname %></h1>
				<h2>Hosted by <%= host %></h2>
				<h2 name="date">Date: <%= date %></h2>
			</div>
			<% if(ended == 0) { %>
				<h3 class="completed">This party has not been completed!</h3>
				<!-- <form action="/parties/completed" method="post"> -->
				<% if(correct_user) { %>
					<button id="party-completed" class="button" type="submit">Completed?</button>
				<!-- </form>-->
				<% } %>
			<% } else { %>
				<h3 class="completed" style="background-color: red">This party has been completed!</h3>
				<!-- <form action="/parties/completed" method="post"> -->
				<% if(correct_user) { %>
					<button id="party-completed" class="button-disabled" type="submit" disabled>Finished!</button>
				<% } %>
				<!-- </form>-->
			<% } %>
		</div>
		<div class="album">
			<% if(images.length > 0) { %>
				<h2>Party Album</h2>
				<!-- Fotorama -->
				<div class="fotorama">
					<% for(var i = 0; i < images.length; i++) { %>
				 		<img src="/uploads/1/<%= images[i] %>">
					<% } %>
				</div>
			<% } %>
		</div>
		<div class="party-description">
			<h2>Party Description</h2>
			<div class="clear"></div>
			<div class="party-description-text">
				<p name="party-description"><%= description %></p>
				<p name="location">Address: <%= location %></p>
				<p name="capacity">Capacity: <%= capacity %> <br />
				 Things to bring: None- All materials provided <br />
				 Food Provided: YES
				</p>
			</div>
			<div id="map_canvas"></div>
		</div>
		<div class="live-stream">
			<h2>Live Streaming</h2>
			<div style="background-color:black">
			   <img alt="Smiley face" id="image" height="240" width="320" > 
			</div>
		</div>					
		
		
	</section>
	<section class="side-bar" >
		<div class="party-rating">
			<div class = "rating read-only" data-score="<%= rating %>"><%= rating %></div>
			<p>(<%=rating_count%> Ratings)</p>
		</div>
		<div class="similar-parties">
			<h2>Similar Parties</h2>
			<% if(parties.length == 0) { %>
				<div class="div-similar-party">
					<h3>Sorry no similar parties!</h3>
				</div>
			<% } else { %>
				<% for(var i = 0; i < parties.length; i++) { %>
					<a href="<%= parties[i][5] %>">
						<div class="div-similar-party">
							<img src="/uploads/<%= parties[i][6] %>/1.JPG">
							<div class="div-similar-party-description">
								<p><%= parties[i][0] %></p>
								<p class="party-date"><%= parties[i][1] %></p>
								<img src="/images/Anonymous_one_star_rating.png" >
								<p><%= parties[i][3] %></p>
								<div class="clear"></div>
								<p>
									<% if(parties[i][4].length >= 16) { %>
										<%= parties[i][4].substring(0, 16) + "..." %>
									<% } else { %>
										<%= parties[i][4] %>
									<% } %>							
								</p>		
							</div>				
						</div>
					</a>
				<% } %>
			<% } %>
		</div>
	
	</section>
<script type="text/javascript">
	// public method for encoding an Uint8Array to base64
	function encode (input) {
	    var keyStr = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=";
	    var output = "";
	    var chr1, chr2, chr3, enc1, enc2, enc3, enc4;
	    var i = 0;

	    while (i < input.length) {
	        chr1 = input[i++];
	        chr2 = i < input.length ? input[i++] : Number.NaN; // Not sure if the index 
	        chr3 = i < input.length ? input[i++] : Number.NaN; // checks are needed here

	        enc1 = chr1 >> 2;
	        enc2 = ((chr1 & 3) << 4) | (chr2 >> 4);
	        enc3 = ((chr2 & 15) << 2) | (chr3 >> 6);
	        enc4 = chr3 & 63;

	        if (isNaN(chr2)) {
	            enc3 = enc4 = 64;
	        } else if (isNaN(chr3)) {
	            enc4 = 64;
	        }
	        output += keyStr.charAt(enc1) + keyStr.charAt(enc2) +
	                  keyStr.charAt(enc3) + keyStr.charAt(enc4);
	    }
	    return output;
	}
	var socket = new WebSocket('ws://127.0.0.1:8084/');
	socket.binaryType = 'arraybuffer';

	/* Channel attempt
	var multiplexer = new Multiplexer({socket : socket });
	var channel = multiplexer.channel('<%= hostid %>');
	*/
	
	try {
    	 	socket.onopen = function() {} 
	 	/*channel.onmessage = function(msg) { */
	    	socket.onmessage = function(msg) {
			var arrayBuffer = msg.data;
			var bytes = new Uint8Array(arrayBuffer);

			var image = document.getElementById('image');
			image.src = 'data:image/jpeg;base64,'+encode(bytes);
	    	} 
		socket.onclose = function(){}
	} catch(exception) {
	    alert('Error:'+exception);
	}
 	
</script>			
<%- include ../template/footer %>
