<!DOCTYPE html>
<html lang="en">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<link rel="stylesheet" href="/styles/reset.css">
	<link rel="stylesheet" href="/styles/main.css">
	<link rel="stylesheet" href="/styles/policy-doc.css">
	<link rel="stylesheet" href="/styles/about-us.css">

	<title>House Party Finder</title>
</head>
<body><div id="mainwrapper">
	<header>
		<div id="logo">
			<a href="/">
				<img src="/images/house.png">
				<h1>House Party Finder</h1>
			</a>
		</div>
		<div id="header-aside">
			<div id="top-links">
				<ul>
					<li><a href="/login-register" class="button">Login or Register</a></li>
				</ul>
			</div>
			<div id="search-bar">
				<form action="/parties/search_results" method="post" autocomplete="on" id="search-form">
					<input type="text" name="fname" placeholder="search a house party in your area" id="search-bar-field" autofocus>
					<input type="image" src="/images/Search.png" alt="Submit" id="search-button"  width="24" height="24">
				</form>
			</div>
		</div>
	</header>
	<div class="clear"></div>
	<nav id="main-nav"><ul>
		<li><a href="/parties/featured" class="button">Featured Parties</a></li>
		<li><a href="/parties/new" class="button">Host a Party</a></li>
		<li><a href="/parties/new" class="button">Live Streams</a></li>
		<li><a href="/parties/new" class="button">My Party</a></li>
	</ul></nav>
	<div id="content">
		<article class="policy-doc">
			<h1>About Us</h1>
			<p>Meet the people behind House Party Finder!</p>
			
			<h2>Andrew (Moo Sun) Lee</h2>
			<div class="picture-block">
				<img src="/images/faces/andrew.jpg" class="picture-label" width="150" height="200">
				<p class="picture-description">Andrew Lee is a 4<sup>th</sup> year student, studying Computer Science and English with a main focus on game design and UX. In this project, he worked on the Login&frasl;Registration and search results page, as well as removing tables from original pages using Dickson Law's templates.</p>
			</div>
			
			<h2>Dickson Law</h2>
			<div class="picture-block">
				<img src="/images/faces/dickson.jpg" class="picture-label" width="150" height="200">
				<p class="picture-description">Dickson Law is a 4<sup>th</sup> year computer science student, specializing in web development. He is also an avid game developer in his spare time. In this project, Dickson was responsible for updating the website template to use a table-free design and fixing CSS irregularities. Additionally, he worked on the Featured Parties page</p>
			</div>
			
			<h2>Qaiser Aftab</h2>
			<div class="picture-block">
				<img src="/images/faces/qaiser-aftab.jpg" class="picture-label" width="150" height="200">
				<p class="picture-description">Qaiser Aftab is a web developer at Affable Technology Solutions. He has worked on a number of engineering projects, encompassing skills including distributed systems, web programming, image processing, kernel programming, OOP and scripting languages. In this project, Qaiser worked on the original template, that included the header, footer, and basically, the homepage. Additionally, the original individual party page, terms of use, privacy policy and site map were his work.</p>
			</div>
			
			<h2>Richard Luu</h2>
			<div class="picture-block">
				<img src="/images/faces/richard.jpg" class="picture-label" width="150" height="200">
				<p class="picture-description">Richard Luu is a 2<sup>nd</sup> year student in the Computer Science Specialist program, entering 3<sup>rd</sup> year in the fall. In this project, he worked on live stream page, my parties page, hosting party page and half of the searching page, and fixing links at final stages of the assignment, and My Parties page.</p>
			</div>
			
		</article>
	</div>
	<div class="clear"></div>
	<footer>
		<nav id="footer-nav"><ul>
			<li><a href="/privacy_policy">Privacy Policy</a></li>
			<li><a href="/terms_of_use">Terms of Use</a></li>
			<li><a href="/site_map">Site Map</a></li>
			<li><a href="/about_us">About Us</a></li>
		</ul></nav>
		<span id="footer-copyright">&copy; House Party Finder, 2014</span>
	</footer>
</div></body>
</html>