<%- include template/header %>
	<link rel="stylesheet" href="/styles/site-map.css">
<%- include template/nav %> <!-- Main content -->
	<div class="site-map">
		<h1>Site Map</h1>
		
		<h2>Home</h2>
			<ul>
				<li><a href="/parties/featured">Featured parties</a></li>
				<li><a href="/parties/new">Host a party</a> </li>
				<li><a href="/parties/streaming">Live streams</a></li>
				<li><a href="/my-parties">My parties</a></li>
				<li><a href="/register_login">Login &frasl; Register</a></li>
				<li><a href="/privacy_policy">Privacy policy</a></li>
				<li><a href="/terms_of_use">Terms of use</a></li>
				<li><a href="/about_us">About us</a></li>
				<li><a href="#">Advanced search</a></li>
			</ul>


		<h2>My Parties</h2>
			<ul>
				<li><a href="#">Profile</a></li>
				<li><a href="#">Activity</a> </li>
				<li><a href="#">Subscriber</a></li>
				<li><a href="#">Portfolio</a></li>
			</ul>
			
	</div>
<%- include template/footer %>
