
/***************************Template css ********************************************/

body{
	margin:auto;
	background-color:#ececec;
}
h1,h2,3,h4,h5{
	font-variant:small-caps;
}
h1 a{
	font-size:1em;

}

.mainwrapper{
	width:90%;
	/*background-color:red;*/
	margin:auto;
	box-shadow: 0px 0px 50px 2px gray;
	
}
.header-table{
	width:95%;  /*wrapper is 90% of body and header is 95% of wrapper to leave space on sides*/
	margin:auto;
}
.td-logo{
	width:35%;
	font-variant:small-caps;
	text-align:left;
	
}
#logo-div h1{
	text-align:center;
	float:left;
}
a.logo:link,a.logo:visited,a.logo:hover,a.logo:active{
	text-decoration:none;
	color:#054387;
	font-family:"Myriad Pro";
	
}
.top-links{
	float:right;
	width:70%;	
}
.td-top-links{
	width:65%;
	vertical-align:top;
}

/*buttons*/
.button {
	-moz-box-shadow:inset 1px 1px 0px -1px #97c4fe;
	-webkit-box-shadow:inset 1px 1px 0px -1px #97c4fe;
	box-shadow:inset 1px 1px 0px -1px #97c4fe;
	/*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');*/
	background-color:#054387;
	-webkit-border-top-left-radius:0.5em;
	-moz-border-radius-topleft:0.5em;
	border-top-left-radius:0.5em;
	-webkit-border-top-right-radius:0.5em;
	-moz-border-radius-topright:0.5em;
	border-top-right-radius:0.5em;
	-webkit-border-bottom-right-radius:0.5em;
	-moz-border-radius-bottomright:0.5em;
	border-bottom-right-radius:0.5em;
	-webkit-border-bottom-left-radius:0.5em;
	-moz-border-radius-bottomleft:0.5em;
	border-bottom-left-radius:0.5em;
	text-indent:0;
	border:1px solid #337fed;
	display:inline-block;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:1em;
	font-weight:bold;
	font-style:normal;
	/*height:52px;
	line-height:52px;
	width:122px;*/
	/*height:52px*/;
	/*line-height:52px;*/
	width:25%;

	text-decoration:none;
	text-align:center;
	margin:.5em .75em;
	padding-top:.4em;
	padding-bottom:.4em
}
.button:hover {
	
	background-color:#1e62d0;
}
.button:active {
	/*position:relative;
	top:1px;*/
}
/*button css end*/
nav{
	text-align:right;
}

/*search bar */
#search-form{
	width:100%;
}
#search-bar{
	width:100%;
	margin-top:100px;
}
#search-bar-field{
	width:80%;
	height:2em;
}

#search-button{
	background-color:#f8f8f8;
	vertical-align:middle;
	padding:5px 20px;
	opacity: 0.7;
}
#search-button:hover{
	opacity: 1;

}
/*end search bar css */

/*main navigation*/
.content-nav-table{
	width:95%;  /*95% of wrapper*/
	margin:auto;
}
.td-nav{
	width:20%;
	vertical-align:top;
}

.main-nav{
	width:100%;
	text-align:center;
	
}
.main-nav a:link,a:visited,a:hover,a:active {
	text-decoration:none;
	color:white;
	font-family:"Myriad Pro";
}
/*
.main-nav a:link,a:visited,a:active{
	text-decoration:none;
	color:white;
	font-family:"Myriad Pro";

	
	

}*/
.main-nav td{
	-webkit-border-top-left-radius:0.5em;
	-moz-border-radius-topleft:0.5em;
	border-top-left-radius:0.5em;
	-webkit-border-top-right-radius:0.5em;
	-moz-border-radius-topright:0.5em;
	border-top-right-radius:0.5em;
	-webkit-border-bottom-right-radius:0.5em;
	-moz-border-radius-bottomright:0.5em;
	border-bottom-right-radius:0.5em;
	-webkit-border-bottom-left-radius:0.5em;
	-moz-border-radius-bottomleft:0.5em;
	border-bottom-left-radius:0.5em;
	text-indent:0;
	border:1px solid #337fed;
	height:2em;
	background-color:#054387;
}
.main-nav td:hover{
	background-color:#1e62d0;
}

.td-content{
	width:80%;
}

/*footer*/
footer{
	height:4%;
	background-color:#054387;
	color:white;	
}
footer a:link,a:visited{
	color:white;
	text-decoration:none;
	padding:10px;
	
}
footer a:hover{
	/*hover effect*/
	background-color:#1e62d0;
	color: white;	
	border-radius:10px;
	height:100%;
	/*box-shadow: 0px 2px 5px #888888;*/

}
#footer-table {
	width:100%;
	height:100%;
	vertical-align:middle;
}
.footer-links{
	width:12%;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
}
.copy-right{
	text-align:right;
	padding-right:5%;
}





/*end main navigation css*/
/***************************Template css end ********************************************/
/*Home page content css */
#content-table{
	width:80%;
	margin-right:10%;
	margin-left:10%;
}

.td-featured{
	width:25%;
}

.page-content{
	width:90%;
	margin-left:5%;
	margin-right:5%;
}


.featured-div {
	width:100%;
	/*margin:5% 5%;*/
	/*padding:5% 5%;*/
	display:inline;
	
}

.featured-div img {
	width:100%;
}
.featured-div h4 {
	width:100%;
	margin:0;
	color:#054387;
}
.featured-div p {
	width:100%;
	font-family:"Myriad Pro";
	margin:0;
}
.people-going {
	color:#054387;
	font-size:.8em;
}
/*.featured-div:hover{
	opacity:0.8;
	border-radius:10px;
	box-shadow: 0px 2px 20px #044d99;
}*/


.featured-heading{
	margin:0;
	width:90%;
	margin-left:5%;
	margin-right:5%;
	float:left;
	
}

.featured-heading h2 {
	color:white;
	background-color:#054387;
	/*margin:0 0 2% 0;*/
	padding:.1em .1em;
	font-family:"Myriad Pro";
	width:100%;
}



.featured-list ul{
	list-style-type:none;
	width:100%;
	margin-left:0;
	padding:0;
}
.featured-list li{
	display:inline-block;
	width:20%;
	padding:2% 2%;
	vertical-align:top;
}
 li:hover{
	opacity:0.8;
	border-radius:10px;
	box-shadow: 0px 2px 20px #044d99;
}

/***************Party-info css*****************************/
.party-info{
	width:70%;
	float:left;
}
.name-host-pic-status img{
	width:20%;
	background-color:yellow;
	float:left;
}

.name-host-pic-status h1 {
	background-color:#054387;
	color:white;
	/*margin:0 0 2% 0;*/
	padding:.1em .1em;
	font-family:"Myriad Pro";
	font-size:1.5em;
	font-weight:normal;
	margin:0;
	width:100%;
}
.name-host-pic-status h2 {
	color:#054387;
	/*margin:0 0 2% 0;*/
	padding:.1em .1em;
	font-family:"Myriad Pro";
	font-size:1em;
	font-weight:normal;
	margin:0;

	width:80%;
}
.name-host-pic-status h3 {
	color:#054387;
	/*margin:0 0 2% 0;*/
	padding:.1em .1em;
	font-family:"Myriad Pro";
	font-size:1em;
	font-weight:normal;
	border:medium #054387 solid;
	text-align:center;
	clear:both;
	width:100%;
}
.album h2{
	background-color:#054387;
	color:white;
	/*margin:0 0 2% 0;*/
	padding:.1em .1em;
	font-family:"Myriad Pro";
	font-size:1.5em;
	font-weight:normal;
	text-align:left;
	width:100%;
}
.party-description h2 {
	background-color:#054387;
	color:white;
	/*margin:0 0 2% 0;*/
	padding:.1em .1em;
	font-family:"Myriad Pro";
	font-size:1.5em;
	font-weight:normal;
	text-align:left;
	width:100%;
}
.party-description p {
	color:#054387;
	/*margin:0 0 2% 0;*/
	padding:.1em .1em;
	font-family:"Myriad Pro";
	font-size:1em;
	font-weight:normal;
	text-align:left;
	width:60%;
	float:left;
}
#map_canvas {
        width: 35%;
		height:200px;     
}
.live-stream{
	clear:both;
	margin-top:5%;
}
.live-stream h2 {
	background-color:#054387;
	color:white;
	/*margin:0 0 2% 0;*/
	padding:.1em .1em;
	font-family:"Myriad Pro";
	font-size:1.5em;
	font-weight:normal;
	text-align:left;
	width:100%;
}
.live-stream img{
	width:100%;
}
.side-bar{
	width:25%;
	float:right;
	margin-left:5%;
}
.party-rating img{
	width:60%;
	float:left;
}

.party-rating p {
	color:#054387;
	/*margin:0 0 2% 0;*/
	padding:.1em .1em;
	font-family:"Myriad Pro";
	font-size:1em;
	font-weight:normal;
	text-align:right;	
}
.similar-parties{
	border-left:20px white solid; 
}
.similar-parties p{
	color:#054387;
	/*margin:0 0 2% 0;*/
	padding:.1em .1em;
	font-family:"Myriad Pro";
	font-size:1em;
	font-weight:normal;
	text-align:left;
}
.similar-parties h2 {
	color:white;
	background-color:#054387;
	/*margin:0 0 2% 0;*/
	padding:.1em .1em;
	font-family:"Myriad Pro";
	font-size:1.5em;
	font-weight:normal;
	text-align:left;
	width:100%;
}
.div-similar-party{
	clear:both;
	margin-top:5%;
	
}
.div-similar-party h3{
	color:#054387;
	/*margin:0 0 2% 0;*/
	padding:.1em .1em;
	font-family:"Myriad Pro";
	font-size:1.5em;
	font-weight:normal;
	text-align:left;

}
.div-similar-party p{
	color:#054387;
	/*margin:0 0 2% 0;*/
	padding:.1em .1em;
	font-family:"Myriad Pro";
	font-size:.8em;
	font-weight:normal;
	text-align:left;
	margin:0;
}
.party-date {
	color:#054387;
	/*margin:0 0 2% 0;*/
	padding:.1em .1em;
	font-family:"Myriad Pro";
	font-size:1em;
	font-weight:normal;
	text-align:left;
	margin:0;
}

.div-similar-party img{
	width:30%;
	float:left;
}

/*************************Privacy Policy**********************/

.privacy-policy h1{
	background-color:#054387;
	color:white;
	/*margin:0 0 2% 0;*/
	padding:.1em .1em;
	font-family:"Myriad Pro";
	font-size:2em;
	border-bottom:10px white solid;
	font-weight:normal;
	text-align:center;
	width:100%;
}
.privacy-policy h2{
	background-color:#054387;
	color:white;
	/*margin:0 0 2% 0;*/
	padding:.1em .1em;
	font-family:"Myriad Pro";
	font-size:1.5em;
	font-weight:normal;
	text-align:left;
	width:100%;
}

.privacy-policy p{
	color:#054387;
	/*margin:0 0 2% 0;*/
	padding:.1em .1em;
	font-family:"Myriad Pro";
	font-size:1em;
	font-weight:normal;
	text-align:left;
	width:100%;
}

/***************************site map***********************************/
.site-map h1{
	background-color:#054387;
	color:white;
	/*margin:0 0 2% 0;*/
	padding:.1em .1em;
	font-family:"Myriad Pro";
	font-size:2em;
	border-bottom:10px white solid;
	font-weight:normal;
	text-align:center;
	width:100%;
}
.site-map h2{
	background-color:#054387;
	color:white;
	/*margin:0 0 2% 0;*/
	padding:.1em .1em;
	font-family:"Myriad Pro";
	font-size:1.5em;
	font-weight:normal;
	text-align:left;
	width:100%;
}

.site-map p{
	color:#054387;
	/*margin:0 0 2% 0;*/
	padding:.1em .1em;
	font-family:"Myriad Pro";
	font-size:1em;
	font-weight:normal;
	text-align:left;
	width:100%;
}

.site-map ul{
	list-style-type:none;
	width:100%;
	margin-left:0;
	padding:0;
}
.site-map li{
	display:inline-block;
	width:20%;
	padding:2% 2%;
	vertical-align:top;
	text-align:center;
}

.site-map a:link{
	color:#054387;
	text-decoration:none;
	font-size:1em;
}

.site-map a:visited{
	color:#054387;
	text-decoration:none;
	font-size:1em;
}
.site-map a:hover{
	color:#054387;
	text-decoration:none;
	font-size:1em;
}
.site-map a:active{
	color:#054387;
	text-decoration:none;
	font-size:1em;
}

