/*Home page content css */
#content-table{
	width:80%;
	margin-right:10%;
	margin-left:10%;
}

.td-featured{
	width:25%;
}

.page-content{
	width:90%;
	margin-left:5%;
	margin-right:5%;
}


.featured-div {
	width:100%;
	/*margin:5% 5%;*/
	/*padding:5% 5%;*/
	display:inline;
	
}

.featured-div img {
	width:100%;
}
.featured-div h4 {
	width:100%;
	margin:0;
	color:#054387;
}
.featured-div p {
	width:100%;
	font-family:"Myriad Pro";
	margin:0;
}
.people-going {
	color:#054387;
	font-size:.8em;
}
/*.featured-div:hover{
	opacity:0.8;
	border-radius:10px;
	box-shadow: 0px 2px 20px #044d99;
}*/


.featured-heading{
	width:96%;
	float:left;
	
}

.featured-heading h2 {
	color:white;
	background-color:#054387;
	/*margin:0 0 2% 0;*/
	padding: 0.25em;
	font-family:"Myriad Pro";
	font-size: 1.4em;
	width:100%;
}



.featured-list ul{
	list-style-type:none;
	width:100%;
	margin-left:0;
	padding:0;
}

.featured-list li{
	display:inline-block;
	width:20%;
	padding:1% 1%;
	margin: 12px 0;
	vertical-align:top;
}

.featured-list li:hover{
	opacity:0.8;
	border-radius:10px;
	box-shadow: 0px 2px 20px #044d99;
}

.featured-list li p {
	margin-top: 0.2em;
}

