/** Global container **/

body {
	background-color: #ececec;
	min-width: 640px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#mainwrapper {
	display: block;
	margin: 20px;
	box-shadow: 0px 0px 16px 2px gray;
	overflow-y: auto;
}

/** Header **/

header {
	position: relative;
	display: block;
	overflow-y: auto;
	margin: 8px;
}

#logo {
	display: block;
    float: left;
    overflow-y: auto;
    padding: 8px;
    text-align: center;
}

#logo a {
	text-decoration: none;
}

#logo h1 {
	color: #054387;
	font-size: 20pt;
	font-weight: bold;
	font-family: "Myriad Pro", "Times New Roman", serif;
}

#header-aside {
	display: block;
	margin-left: 240px;
	overflow-y: auto;
}

#top-links {
	float: right;
}

#top-links ul {
	display: block;
	margin: 8px;
}

#top-links ul li {
	display: inline-block;
	margin-left: 8px;
}

#top-links ul li:last-child {
	border-right: none;
}

#search-bar {
	display: block;
	float: right;
	clear: right;
	margin-top: 44px;
	width: 100%;
}

#search-bar form {
	display: block;
	float: right;
	text-align: center;
	width: 100%;
}

#search-bar input {
	display: inline-block;
	vertical-align: middle;
}

#search-bar #search-bar-field {
	width: 65%;
	padding: 6px 30px 6px 6px;
	font-size: 1.4em;
}

#search-bar #search-button {
	width: 24px;
	position: relative;
	left: -36px;
}

/** Mid-section **/

#main-nav {
	display: block;
	float: left;
	width: 200px;
	margin-left: 8px;
	margin-top: 8px;
}

#main-nav ul li {
	margin-bottom: 4px;
}

#content {
	display: block;
	margin-left: 240px;
	margin-top: 12px;
}

/** Footer **/

footer {
	position: relative;
	display: block;
	background-color: #054387;
	overflow-y: auto;
	margin-top: 14px;
	padding: 8px;
	color: white;
}

#footer-nav {
	display: block;
	float: left;
	margin: 4px 0px;
	overflow-y: auto;
}

#footer-nav ul li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 8px;
	border-radius: 8px;
}

#footer-nav ul li:hover {
	background-color: #1e62d0;
}

#footer-nav ul li a {
	display: block;
	color: white;
	text-decoration: none;
	padding: 8px;
	border-radius: 8px;
}

#footer-copyright {
	position: absolute;
	right: 1em;
	top: 50%;
	float: right;
	margin-top: -0.5em;
}

/** Utility **/

.clear {
	display: block;
	clear: both;
}

.button {
	display: block;
	color: white;
	text-decoration: none;
	background-color: #054387;
	border: 1px solid #337fed;
	border-radius: 0.5em;
	padding: 8px;
}

.button:hover {
	background-color: #1e62d0;
}