/**SearchResultPage**/

.search-table-first {
	background-color: white;
	padding: 10px;
}

.search-table-after {
	background-color: white;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.search-row {
	border-style: solid;
	border-width: 3px;
	border-color: #ececec;
	overflow-y: auto;
	padding: 8px;
}

.search-row:hover {
	border-color:#1e62d0
}

.main-info-area {
	padding-left: 15px;
}

.party-info {
	display: block;
	margin-left: 140px;
}

.party-desc {
	display: block;
	margin-top: 10px;
}

.party-title {
	font-weight: bold;
	text-decoration: underline;
}

.preview-image {
	display: block;
	height: 120px;
	width: 120px;
	float: left;
}

.location, .date {
	font-weight:bold;
	clear:both;
}

.date-answer{
	font-weight:normal;
}
	
.location-answer {
	font-weight:normal;
}

.attending {
	font-weight:bold;
}
	
.attending-answer {
	font-weight:normal;
}

/** Fix **/
.party-info-text {
	display: block; 
	overflow-y: auto; 
	padding-bottom: 5px;
}

.party-info-text-left {
	display: block;
	float: left;
}

.party-info-text-right {
	display: block;
	float: right;
}

@media (max-width: 960px) {
	.party-info-text-right {
		float: left;
	}
}